[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BatchQC"]
	path = BatchQC
	url = https://github.com/mani2012/batchqc
	shallow = true
	registered = true
[submodule "PathoStat"]
	path = PathoStat
	url = https://github.com/mani2012/pathostat
	shallow = true
	registered = true
