[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BatchQC"]
	path = BatchQC
	url = https://github.com/mani2012/batchqc
[submodule "PathoStat"]
	path = PathoStat
	url = https://github.com/mani2012/pathostat
